[submodule "submodules/toolbox.swift"]
	path = submodules/toolbox.swift
	url = https://github.com/eonil/toolbox.swift
[submodule "submodules/LLDBWrapper"]
	path = submodules/LLDBWrapper
	url = https://github.com/eonil/LLDBWrapper
[submodule "submodules/pco.swift"]
	path = submodules/pco.swift
	url = https://github.com/eonil/pco.swift
