[submodule "submodules/MulticastingStorage"]
	path = submodules/MulticastingStorage
	url = https://github.com/Eonil/MulticastingStorage
[submodule "submodules/LLDBWrapper"]
	path = submodules/LLDBWrapper
	url = https://github.com/Eonil/LLDBWrapper
