[submodule "submodules/toolbox.swift"]
	path = submodules/toolbox.swift
	url = https://github.com/eonil/toolbox.swift
[submodule "submodules/LLDBWrapper"]
	path = submodules/LLDBWrapper
	url = https://github.com/eonil/LLDBWrapper
[submodule "submodules/BTree"]
	path = submodules/BTree
	url = https://github.com/lorentey/BTree
[submodule "submodules/json.swift"]
	path = submodules/json.swift
	url = https://github.com/eonil/json.swift
[submodule "submodules/Buckets-Swift"]
	path = submodules/Buckets-Swift
	url = https://github.com/mauriciosantos/Buckets-Swift
