github "eonil/LLDBWrapper" "0.0.1"
github "mauriciosantos/Buckets-Swift" == 2.0
github "lorentey/BTree" == 4.0

github "eonil/json.swift" "ead164d"
github "eonil/toolbox.swift" "2c98bd8"
github "eonil/prototype-signet.swift" "0.0.1"
#github "eonil/weakly-persistent-array.swift" == 0.0.1
github "SnapKit/SnapKit" == 4.0.0
github "dylan/colors" == 0.9.10
