<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Editor6WorkspaceModel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Editor6WorkspaceModelTestdrive.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>Editor6WorkspaceModelUnitTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>452278D91E67424A0076A851</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45441ED51DB3EA0F00158711</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45BBCF791DB5487A00F83573</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45BBCF851DB5489F00F83573</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
